input[type="text"], input[type="password"], textarea{
	color: black;
	font-size: 1.4em;
	padding: 0.06em 0.3em;
	width: 96%;
	border-radius: 0.3em;
	border: none;
	background-color: rgba(255,255,255,0.5);
}
input[type="text"]:focus , input[type="password"]:focus {
	background-color: rgba(255,255,255,0.4);
}

input[type="button"],input[type="submit"]{
	font-weight: bold;
	width:100%;
	height: 1.8em;
	border-radius: 0.3em;
	background-color: rgba(255,255,255,0.8);
	border:none;
	border-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;
}
input[type="button"]:hover, input[type="submit"]:hover{
	background-color: #ff8400;
}
input[type="button"]:active, input[type="submit"]:active{
	background-color: #CCC;
}

input:focus {
    outline:none;
}

form p{
	margin-bottom: 0  0 0.5em 0;
}

/* Wrappers */
#login-container{
	width: 20em;
	min-height: 5em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5em;
}
.error{
	text-align: center;
	color: red;
}

#validate{
	border-radius: 0.5em;
	font-weight: bold;
	background-color: #CC2323;
	color:white;
}

::-webkit-input-placeholder {
   color: #424242;
   font-weight: normal;
}
moz-placeholder {
   color: #424242;
   font-weight: normal;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #E9E9E9 inset;
}

#mail-message { cursor: pointer;}
.e-message {margin: 0; display: none; border-left: solid 0.1em #FF8400; border-radius: 0.1em; padding: 0.2em;}
