body{
	margin: 0;
	padding: 0;
	background: #000;

	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	font-size: 11px;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/*font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;*/
}

::selection {background-color:#FFA319;}

/*
---
WRAPPER START
---
*/

#main-wrapper
{
	margin-top: 4.7em;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	margin-bottom:0.818em;
}

#content-wrapper{
	width:100%;
	padding-left: 1em;
}
#comment-text{width:70%;}
#comment-box {
	background-color: #6D6D6D;
	border-radius: 0.25em;
	margin-top: 1em;
}
#comment-btn {width: 8em; height: 2.5em; border-radius: 0.1em; border-bottom-left-radius: 0.25em; background-color: #ff8400;  color: white;}
#comment-btn:hover {background-color: #D8D8D8; color: white;}
/*
---
WRAPPER END
---
*/

::selection {background-color:#FFA319;}
.header-title{
	float: left;
	margin-top: 0.81em;
	margin-right:0.1em;
	color: #1e1e1e; text-shadow:-1px -1px 0 #1e1e1e, 1px -1px 0 #1e1e1e, -1px 1px 0 #1e1e1e,1px 1px 0 #1e1e1e; 
}
header
{
	margin-top: -8.5em;
	width: 100%;
	background-color: #ff8400;
	height:7.8em;
	position: fixed;
}
	header h1
	{
		font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
		text-transform: uppercase;
		font-size: 4.5em;
		text-align: left;
		line-height:100%;
	}
	header h1 a{
		color:inherit;
		text-decoration: none;
		-o-transition:500ms ease all;
		-moz-transition:500ms ease all;
		-webkit-transition:500ms ease all;
		transition:500ms ease all;
	}
	header h1 a:hover
 	{
		opacity:1.0;
		
 	}
nav{
	float: left;
	margin-top: 4em;
	font-size: 1.455em;
	height: 1.3em;
	width: 70%;
}
	nav a 
	{
		font-weight: 200;
		padding: 0.1em;
		border: none;
		text-decoration: none;
		color: black;
		transition: ease 600ms all;
		-webkit-transition: ease 600ms all;
		-moz-transition: ease 600ms all;
		-o-transition: ease 600ms all;
	}
	nav ul{padding-left: 0.1em; margin: 0;}
	nav li{
		color: black;
		list-style-type: none; 
		display: inline;
	}
.userinfo{
	color: white;
	font-weight: 500;
	font-size: 1em;
	margin-top: -1.5em;
	padding-right: 0.1em;
	float: right;
	
}
	.userinfo li{
		list-style-type: none; 
		display: inline;
	}
	.userinfo li:first-of-type {
		border-right: solid 0.15em black;
	}

table{width:99%; margin:auto;}
table img{height : 2em;}
table h2{font-size:1.5em; line-height:0em;}
tr{cursor:pointer; transition:100ms ease all;}
tr:hover{color:orange !important; }
.heading{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.heading:hover{color:inherit; background-color:transparent; cursor: auto;}
td {padding-right:0em; font-size:1.6em; }
p, li{font-size:1.1em}
article
{
	min-height:13.636em;
	margin-bottom:0.4em;
	
	padding:0.709em;
}
section
{

	margin-bottom: 0.35em;
}
h1{
	font-size: 3.5em;
	font-family: "Arial Black", Arial, Gadget, sans-serif;
}
h2
{
	margin: 0;
	color:#FF9900;
	font-size:3.636em;
	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
	line-height: ;
}
h3
{
	text-align: left;
	color:#FF9900;
	font-size:1.5em;
	line-height: ;
}

a{
	color:#FF9900;
	text-decoration: none;
	-o-transition:500ms ease all;
	-moz-transition:500ms ease all;
	-webkit-transition:500ms ease all;
	transition:500ms ease all;
}
	a:hover
 	{
 		opacity: 0.8;
 	}

footer {
	clear: both;
	margin-top: 2em;
	border-top: solid 0.15em #ff8400;
	padding-top: 0.3em;
}
	#footnote
	{
		text-align: center;
		font-size: 1em;
		color: white;
	}

#embedded-audio{
	padding: 0 0.3em 0.3em 0;
}
#entry-content{
	padding: 0 0.3em 0 0.6em;
	font-size: 1.2em;
}
	#entry-content iframe { width: 100% !important;}
	#entry-content h2{font-size: 1.5em;}
	#entry-content blockquote{
		font-style: italic;
		border-left: 0.1em solid #FF9900; 
		font-family: 'Jura', sans-serif; 
		color: #C3C3C3;
		padding-left: 0.3em;
	}
#play{padding: 0.1em; height:16em}
.cover{}
.cover img{
	padding:0.3em;
	border-radius: 0.2em;
	height:20.65em;
	width:20.65em;
}
.metadata{
	padding-right:1.5em;
	margin-right: 1em;
}

#status{
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.indexBG{background-size: cover;}
.head{color:#FFF;}
.profile{float:left; padding-right:0.455em; }
.info{
	text-align: center;
	line-height:0.3em;
	color:white;
	font-family:"Arial Black", Gadget, sans-serif;
}
.controls{
	font-size:3em;
	text-align: center;
	line-height:0.3em;
	color:white;
	font-family:"Arial Black", Gadget, sans-serif;
}

.post{
	/*background-color: rgba(255,255,255,0.1);*/
	padding-left: 0.25em;
	border-radius: 0.3em;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0.3em;
	border-left: solid 0.25em #FFA319;
	margin-bottom: 0.6em;
}
	.post h1  {font-size: 2em; margin: 0; font-family: Arial, Helvetica, sans-serif;}
	.post h1  a {color: inherit; }
	.post h1 a:visited {color: #DCDCDC;}
	.post h2  {font-size: 0.8em;}
	.entry-category{
		color: #F3D413;
		
	}
	.entry-genre{
		color: #CDCDCD;
		padding-right: 0.5em;
		margin-right: 0.3em;
		border-right: solid 0.2em #FF5D04;
	}
.heading{
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	font-size: 2.5em;
	font-weight: 400;
	color:#FF9900;
	margin: 0;
}
	.category, .subcategory{
		padding: 0em 0.1em;
		font-size: 0.4em;
		font-weight: 600;
		margin-right: 0.25em;
		text-transform: uppercase;
		/*border: solid 0.05em;*/
		border-radius: 0.1em;
		
	}
	.category{
		Color: black;
		background-color: #4C4CFF;
		border-color: #4C4CFF;
	}
	.subcategory{
		Color: black;
		background-color: #8C198C; 
		border-color: #8C198C;
	}
.user{
	color: #B2B2B2;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	margin: 0;
	margin-left: 0.2em;
}
.user a{
	font-size: 1.2em;
	
}
