#submission{
	padding: 1em;

}

#submission input[type="text"]{
	width: 100%;
	color: white;
	font-size: 3em;
	font-variant: initial;
	border: none;
	border-bottom: solid 0.05em #FFA319;
	border-bottom-left-radius: 0.3em;
	padding-left: 0.3em;
	background-color: transparent;
}
#submission input[type="button"], #submission input[type="submit"], #submission select{
	font-weight: bold;
	font-size: 1.4em;
	width:30%;
	border-radius: 0.3em;
	background-color: rgba(255,255,255,0.8);
	border:none;
	margin-left: 1.8em;
	cursor: pointer;
	-webkit-transition: 200ms all;
	-o-transition: 200ms all;
	transition: 200ms all;

}
#submission input[type="button"]:hover, #submission input[type="submit"]:hover{
	background-color: #ff8400;
}
#submission select:hover{
}

#submission input[type="text"]:focus, #submission textarea:focus, #submission select:focus{
	outline: none;
}

#submission textarea{
	font-size: 1.1em;
	margin-top: 2em;
	margin-left: 1.8em !important;
	color: white;
	width: 97%;
	min-height: 10em;
	border: none;
	border-radius: 1em;
	padding: 0.6em;
}

#mceu_12 {margin-left: 2.2em !important;}
.mce-container{ border-radius: 0.4em !important; border-bottom-left-radius: 0 !important;}
.mce-panel{background-image: none !important; border: none!important;}
.mce-primary {background-color: #ff8400 !important;}
.mce-btn {
	border: none !important;
	background-image: none !important;
}

#submission p{margin-bottom: 1em;}
