<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="All about real music. From beatmakers to backpackers.">
		<meta name="keywords" content="musicbox, discussion, music, Hip-Hop">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login-style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='submission-style.css') }}">
		<link href='http://fonts.googleapis.com/css?family=Jura:500,400,600' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
		{%  block Jscripts %}{% endblock %}
		<title>{{title}} -- MusicBox</title>
	</head>
	<body>
		<header>
			<h1 class="header-title"><a href="{{ url_for('index') }}">MusicBox</a></h1>
			
			<nav>
				{% if 'username' in session: %}
					<ul>
						<li><a href="{{ url_for('submit') }}">New Entry</a></li>
					</ul>
					<ul class="userinfo">
							<li>Welcome, <a href="{{ url_for('user', username=user) }}">{{ user }}</a></li>
							<li><a href="{{ url_for('logout') }}">Log-out</a></li>	
					</ul>
				{% else: %}
					<ul>
						<li>All about real music.</li>
					</ul>
					<ul class="userinfo">
						<li><a href="{{ url_for('login_page') }}">Login</a>
						<li><a href="{{ url_for('signup') }}">Sign up</a></li>
					</ul>
				{% endif %}
			</nav>
		</header>
		<div id="main-wrapper">
			<div id="content-wrapper">
				{% block content %}
				{% endblock %}
			</div>
			<footer><div id="footnote">MusicBox 2015 - Powered by <a href="http://flask.pocoo.org/" target="_blank">Flask</a></div></footer>
		</div>

	</body>
</html>
