{% extends 'blank.html' %}
{%  block Jscripts %}<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>{% endblock %}
{% block content %}
	<div class="post"><h2><span class="entry-category">Discovery</span>&#8226;<span class="entry-genre">Hip Hop</span><span class="user">Submitted by: <a>dummy</a>, <a>{{ text[1] }}</a> - 3 hours ago</span></h2>
	<h1>{{ post }}</h1>
	</div>
	<div id="entry-content">
	{% autoescape false %}
		{{ unescape(text[0]) }}
	{% endautoescape %}
	</div>
	<h3>Comments</h3>
	<div id="comment-box">
		<script type="text/javascript">
			tinymce.init({
				selector: "textarea",
				menubar : false,
				contextmenu: "link | copy paste",
			plugins: [
    			"autolink lists link charmap preview",
    			"searchreplace visualblocks code",
    			"contextmenu paste wordcount"
				],
			toolbar: " blockquote link | bold italic underline strikethrough | bullist numlist ",

			});
		</script>
		<form method="post" action="">
			<textarea name="text" id="comment-text">	
			</textarea>
			<input id="comment-btn" type="submit" value="submit"></input>
		</form>
	</div>
	{% for i in range(com_length)%}
		<section class="post">
			<p><a href="">{{ comment[i][0] }}:</a></p>
			{% autoescape false %}
				{{ comment[i][1] }}
			{% endautoescape %}
		</section>
	{% endfor %}
{% endblock %}