{% extends 'blank.html' %}
{% block content %}
		<script type="text/javascript">
			$(document).ready(function() {
				$( "span:contains('discovery')" ).css( "color", "#F16B12" );
				$( "span:contains('discuss')" ).css( "color", "#FE4000" );
			});
		</script>
	{% if query_length == 0 %}
		<p style="color: #9E9E9E; font-size:2em; text-align: center; padding: 3em 0;">- Be the first to <a href="{{ url_for('submit') }}">submit</a> something! -</p>
	{% else %}
		{% for i in range(query_length) %}
			<div class="post">
				<h2>
					<span class="entry-genre">{{ entry['genre'][i] }}</span>
					<span class="user">Submitted by: <a>{{ entry['user'][i] }}</a> | <a><em>~ {{ entry['time'][i] }}</em></a> | {{ entry['comment_count'][i] }}</span>
				</h2>
				<h1><a href="{{ url_for('post',pid=entry['id'][i], post=slug(entry['title'][i])) }}"><span class="entry-category">{{ entry['category'][i] }}:</span> {{ entry['title'][i] }}</a></h1>
			</div>	
		{% endfor %}
	{% endif %}
{% endblock %}
