{% extends 'blank.html' %}
{% block content %}
	<div style="padding-top: 10em;">
		<h1 style="color: #ff8400; text-transform: uppercase; text-align: center;">{{ title }}</h1>
		<p style="text-align: center; font-size: 1.2em;">Go back<a href="{{ url_for('index') }}"> home</a></p>
	</div>
{% endblock %}}