{% extends 'blank.html' %}
{% block content %}
	<div id="login-container">
	    <form method="post" action="">
				<p><input type="text" name="username" placeholder="Username" required></p>
				<p><input type="password" name="password" placeholder="Password" required></p>
	    	<input type="submit" value="Log in">
	    </form>
			<p class="error">{{ log }}</p>
	</div>
{% endblock %}
