{% extends 'blank.html' %}
{%  block Jscripts %}<script type="text/javascript" src="{{ url_for('static', filename='signup.js') }}"></script>{% endblock %}
{% block content %}
	<!--<h1 class="login-title">SoapBox</h1>-->
	<div id="login-container">
	<div id="validate">
		<ul>
		</ul>
	</div>
    <form method="post" action="">
    		<p>
    		<label for="user">Username</label>
			<input type="text" id="user" name="new_username" maxlength="20">
			</p>
			<p>
			<label for="email">E-mail :<em>optional</em> (<span style="border-bottom: dotted 0.1em orange; color: orange;" id="mail-message">why?</span>)</label>
			<p class="e-message"><strong>It's a fail-safe:</strong><br> If you forget your username and/or password it will be mailed to you.</p>
			<input type="text" id="email" name="new_email">
			</p>
			<p>
			<label for="pass">Password</label>
			<input id="pass" type="password" name="new_password" maxlength="20">
			</p>
			<p>
			<input id="re-pass" type="password" placeholder="Type password again">
			</p>
    	<input type="submit" value="sign up">
    </form>
		
	</div>
{% endblock %}