{% extends 'blank.html' %}
{%  block Jscripts %}<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>{% endblock %}
{% block content %}
	<form method="post" action="" id="submission">
		<p>
			<input type="text" name="title" placeholder="Title..." maxlength="120" required>
		</p>
		<p>
			<script type="text/javascript">
				tinymce.init({
  				selector: "textarea",
  				menubar : false,
  				contextmenu: "link | copy paste",
    			plugins: [
        			"autolink lists link charmap preview",
        			"searchreplace visualblocks code",
        			"contextmenu paste wordcount"
    				],
    			style_formats: [
				    {title: "Heading", format: "h2"},
				    {title: "heading 2", format: "h3"}
				],
    			toolbar: "undo redo | styleselect blockquote link | bold italic underline strikethrough | bullist numlist | code",

				});
			</script>
			<textarea name="content" maxlength="5000" placeholder="Write something..." ></textarea>
		</p>
		<p>
			<input type="submit" value="Post Entry">
			<select name="category">
				<option value="none" disabled selected>-Category-</option>
			{% for i in range(cat_length) %}
 				<option value="{{ category[i] }}">{{ category[i] }}</option>
  			{% endfor %}
			</select>
			<select name="genre">
 				<option value="none" disabled selected>-Genre-</option>
  			{% for i in range(gen_length) %}
 				<option value="{{ genre[i] }}">{{ genre[i] }}</option>
  			{% endfor %}
			</select>
		</p>
		</form>
{% endblock %}
